services:
  app:
    build:
      context: .
      target: prod
    restart: always
    command: python model.py
    volumes:
      - "./hf_cache:/root/.cache/huggingface"
      - ".:/app/"
    ports: 
      - "18080:8080"
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            capabilities: ["gpu"]
    
    # environment:
      # - FLASK_ENV=development